h1{
    color:rgb(90, 52, 133);
}
img{
    width: 400px;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}
#thirdDiv{
    align-content: center;
    height: 600px;
    width: 500px;
    background-color: lightpink;
    padding: 50px;
    border: 5px double mediumslateblue;
  
}  
